.syntax--css {
    &.syntax--property-name {
        color: @fd-light-cyan;
    }
    &.syntax--property-value {
        color: @fd-white;
    }
    &.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class {
        color : @fd-red;
        .syntax--punctuation.syntax--definition.syntax--entity {
            color: @fd-red;
        }
    }
    &.syntax--font-name {
        color: @fd-white;
    }
    &.syntax--media.syntax--constant {
        color : @fd-green;
    }
    &.syntax--meta.syntax--selector {
        color : @fd-pink;
        .syntax--punctuation.syntax--definition.syntax--keyword {
            color: @fd-pink;
        }
    }
}

.syntax--keyword.syntax--control.syntax--at-rule {

    &.syntax--import, &.syntax--include, &.syntax--namespace, &.syntax--font-face {
        color: @fd-dark-yellow;
        .syntax--punctuation.syntax--definition.syntax--keyword {
            color: @fd-dark-yellow;
        }
    }
    &.syntax--mixin {
        color : @fd-medium-green;
        .syntax--punctuation.syntax--definition.syntax--keyword {
            color: @fd-medium-green;
        }
    }
    &.syntax--media {
        color : @fd-green;
        .syntax--punctuation.syntax--definition.syntax--keyword {
            color: @fd-green;
        }
    }
    &.syntax--charset  {
        color : @fd-red;
        .syntax--punctuation.syntax--definition.syntax--keyword {
            color : @fd-red;
        }
    }
}

.syntax--meta.syntax--at-rule {
    color : @fd-green;
}

.syntax--meta.syntax--property-list {
    color : @fd-cyan;
}

.syntax--punctuation.syntax--definition.syntax--keyword {
    color: @fd-dark-yellow;
}
.syntax--keyword.syntax--other.syntax--important {
    color : @fd-cyan;
}
