.syntax--js {
    &.syntax--entity.syntax--name.syntax--function {
        color: @fd-light-green;
    }
    &.syntax--source {
        color: @fd-yellow;
    }
    &.syntax--constant {
        &.syntax--support {
            color: @fd-light-cyan;
            &.syntax--dom {
                color: @fd-light-green;
            }
        }
    }
    &.syntax--function.syntax--parameter.syntax--variable {
        color: @fd-yellow;
    }
    &.syntax--method-call.syntax--arguments {
        color: @fd-cyan;
    }
    &.syntax--storage.syntax--type.syntax--var {
        color: @fd-dark-yellow;
    }
    &.syntax--support.syntax--class {
        color: @fd-cyan;
    }
    &.syntax--variable.syntax--other.syntax--property {
        color: @fd-light-green;
    }
    &.syntax--punctuation.syntax--definition.syntax--parameters {
        color: @fd-orange;
    }
}
