.js {
    &.source {
        color: @fd-yellow;
    }
    &.constant {
        &.language {
            color: @fd-light-cyan;
        }
        &.support {
            color: @fd-light-cyan;
            &.dom {
                color: @fd-light-green;
            }
        }
    }
    &.entity.name.function {
        color: @fd-light-green;
    }
    &.function.parameter.variable {
        color: @fd-yellow;
    }
    &.method-call.arguments {
        color: @fd-cyan;
    }
    &.storage.type.var {
        color: @fd-dark-yellow;
    }
    &.support.class {
        color: @fd-cyan;
    }
    &.variable.other.object {
        color: @fd-cyan;
    }
    &.variable.other.property {
        color: @fd-light-green;
    }

    &.punctuation.definition.parameters {
        color: @fd-orange;
    }
}
