.php {
    &.namespace, &.class {
        color : @dark-yellow;
    }
    &.keyword.other.namespace {
        color : @fd-red;
    }
    &.property {
        color : @lime;
    }
    &.variable {
        color : @fd-yellow;
    }
    &.function-call {
        color : @lime;
    }
    &.storage.type {
        color : @light-cyan;
    }
    // &.storage.type.function {
    //     color : @fd-orange;
    // }
}
