.php {
    &.source {
        color: @fd-dark-orange;
    }
    &.class,
    &.namespace {
        color: @fd-dark-yellow;
    }
    &.keyword.other.namespace {
        color: @fd-red;
    }
    &.other.property,
    &.property {
        color: @fd-light-green;
    }
    &.variable {
        color: @fd-yellow;
    }
    &.function-call {
        color: @fd-light-green;
    }
    &.storage.type {
        color: @fd-light-cyan;
    }
}
