@import "./css.less";

.scss {
    &.property-name {
        color : @lime;
    }
    &.property-value {
        color : @fd-white;
    }
    &.font-name {
        color : @fd-white;
    }
    &.tag.name {
        color : @fd-light-orange;
    }
    &.punctuation.section.function {
        color: @fd-cyan;
    }

}
