@import "./html.less";

.twig {
    &.text.html {
      color : @fd-white;
    }
    &.function-call {
      color : @fd-cyan;
    }
    &.support.function {
      color : @fd-cyan;
    }
    &.keyword.operator {
        color: @fd-dark-orange;
    }
}
