.syntax--comment                                                                         { color: @fd-comment-green }

.syntax--constant                                                                        { color: @orange; }

.syntax--constant.syntax--numeric                                                        { color: @fd-white }
.syntax--constant.syntax--language                                                       { color: @fd-light-cyan }
.syntax--constant.syntax--character.syntax--escape                                       { color: red; }
.syntax--constant.syntax--other.syntax--color                                            { color: @cyan }
.syntax--constant.syntax--other.syntax--symbol                                           { color: @green }
.syntax--constant.syntax--character.syntax--escape                                       { color: red; }

.syntax--entity.syntax--name.syntax--function                                            { color: @fd-light-cyan }
.syntax--entity.syntax--name.syntax--type                                                { color: @fd-dark-yellow }
.syntax--entity.syntax--name.syntax--class                                               { color: @light-orange }
.syntax--entity.syntax--name.syntax--type.syntax--class                                  { color: @light-orange }
.syntax--entity.syntax--name.syntax--section                                             { color: @blue }
.syntax--entity.syntax--name.syntax--tag                                                 { color: @fd-orange }
.syntax--entity.syntax--other.syntax--inherited-class                                    { color: @green }
.syntax--entity.syntax--other.syntax--attribute-name                                     { color: @fd-yellow }
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id                          { color: @fd-orange }

.syntax--keyword                                                                         { color: @fd-orange }
.syntax--keyword.syntax--control                                                         { color: @fd-orange }
.syntax--keyword.syntax--control.syntax--punctuation                                     { color: @fd-orange }

.syntax--keyword.syntax--operator                                                        { color: @fd-cyan }
.syntax--keyword.syntax--other.syntax--special-method                                    { color: @blue }
.syntax--keyword.syntax--other.syntax--unit                                              { color: @fd-dark-yellow }

.syntax--regexp                                                                          { color: @fd-pink; }
.syntax--regexp.syntax--constant                                                         { color: @fd-red }
.syntax--regexp.syntax--string                                                           { color: @fd-pink }
.syntax--regexp.syntax--keyword.syntax--control                                          { color: @fd-cyan }
.syntax--regexp.syntax--punctuation.syntax--definition                                   { color: @fd-cyan }

.syntax--string                                                                          { color: @fd-white }
.syntax--string.syntax--other.syntax--link                                               { color: @red }

.syntax--support.syntax--class                                                           { color: @fd-light-orange; }
.syntax--support.syntax--function                                                        { color: @fd-light-cyan }
.syntax--support.syntax--function.syntax--any-method                                     { color: @blue }

.syntax--storage                                                                         { color: @fd-red }

.syntax--variable                                                                        { color: @fd-yellow }
.syntax--variable.syntax--interpolation                                                  { color: darken(@red, 10%) }
.syntax--variable.syntax--parameter.syntax--function                                     { color: @syntax-text-color; }

.syntax--punctuation                                                                     { color: @fd-darker-orange }
.syntax--punctuation.syntax--definition.syntax--comment                                  { color: @fd-comment-green }
.syntax--punctuation.syntax--definition.syntax--variable                                 { color: @fd-yellow }
.syntax--punctuation.syntax--definition.syntax--array                                    { color: @fd-dark-orange }
.syntax--punctuation.syntax--definition.syntax--parameter                                { color: @fd-dark-orange }
.syntax--punctuation.syntax--definition.syntax--string                                   { color: @fd-dark-orange }
.syntax--punctuation.syntax--definition.syntax--heading                                  { color: @blue }
.syntax--punctuation.syntax--definition.syntax--identity                                 { color: @blue }
.syntax--punctuation.syntax--definition.syntax--bold                                     { color: @light-orange }
.syntax--punctuation.syntax--definition.syntax--italic                                   { color: @purple }
.syntax--punctuation.syntax--section.syntax--embedded                                    { color: darken(@red, 10%) }

.syntax--meta.syntax--class                                                              { color: @light-orange }
.syntax--meta.syntax--link                                                               { color: @orange }
.syntax--meta.syntax--require                                                            { color: @blue }
.syntax--meta.syntax--selector                                                           { color: @purple }
.syntax--meta.syntax--separator                                                          { color: @syntax-text-color }

.syntax--markup.syntax--bold                                                             { color: @orange }
.syntax--markup.syntax--changed                                                          { color: @purple }
.syntax--markup.syntax--deleted                                                          { color: @red }
.syntax--markup.syntax--italic                                                           { color: @purple }
.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading  { color: @blue }
.syntax--markup.syntax--inserted                                                         { color: @green }
.syntax--markup.syntax--list                                                             { color: @red }
.syntax--markup.syntax--quote                                                            { color: @orange }
.syntax--markup.syntax--raw.syntax--inline                                               { color: @green }

.syntax--invalid.syntax--illegal                                                         { color: @syntax-background-color }
.syntax--none                                                                            { color: @syntax-text-color }

.syntax--source.syntax--gfm .syntax--markup .syntax--heading                             { color: @green }
