.syntax--at-rule {
    &.syntax--import,
    &.syntax--include,
    &.syntax--media {
        color: @fd-red;
    }
    &.syntax--keyword.syntax--import {
        color : @fd-dark-yellow;
    }
}

.syntax--entity {
    &.syntax--name.syntax--tag {
        color: @fd-yellow;
    }
}

.syntax--keyword {
    &.syntax--punctuation.syntax--definition {
        color: @fd-red;
    }
    &.syntax--operator.syntax--logical {
        color: @fd-cyan;
    }
    &.syntax--control {
        color: @fd-orange;
    }
}

.syntax--storage.syntax--type.syntax--function {
    &.syntax--js,
    &.syntax--php {
        color: @fd-medium-green;
    }
}

.syntax--punctuation {
    &.syntax--terminator {
        color: @fd-darker-orange;
    }
    &.syntax--definition.syntax--tag {
        color: @fd-yellow;
    }
    &.syntax--definition.syntax--entity {
        color: @fd-light-yellow;
    }
}

.syntax--meta {
    &.syntax--brace {
        color: @fd-dark-yellow;
    }
    &.syntax--tag.syntax--any.syntax--html,
    &.syntax--tag.syntax--inline {
        color: white;
    }
}
