.at-rule {
    color : @fd-dark-yellow;
    &.import,
    &.include,
    &.media {
        color: @fd-red;
    }
    &.keyword.import {
        color : @fd-dark-yellow;
    }
}

.entity {
    &.name.tag {
        color: @fd-yellow;
    }
    &.other.attribute-name {
        color: @fd-light-green;
    }
    &.other.attribute-name.id {
        color: @fd-light-yellow;
    }
}

.keyword {
    &.punctuation.definition {
        color: @fd-red;
    }
    &.operator.logical {
        color: @fd-cyan;
    }
    &.control {
        color: @fd-orange;
    }
}

.storage.type.function {
    &.js,
    &.php {
        color: @fd-medium-green;
    }
}

.punctuation {
    &.terminator {
        color: @fd-darker-orange;
    }
    &.definition.tag {
        color: @fd-yellow;
    }
    &.definition.entity {
        color: @fd-light-yellow;
    }
}

.meta {
    &.brace {
        color: @fd-dark-yellow;
    }
    &.tag.any.html,
    &.tag.inline {
        color: white;
    }
}
